* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(6, 39, 58);
  color: #fff;
}

/*MOBILE NAVBAR*/

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff6e;
  z-index: 100;
  height: 100%;
  backdrop-filter: blur(10px);
  display: none;
}

.menu li {
  width: 100%;
}

.menu li:not(.closeMenu) {
  text-align: center;
}

.menu li:hover {
  background-color: #a0a0a0;
}

.menu a {
  color: #000;
  width: 100%;
  display: block;
  padding: 20px 10px;
}

/*DESKTOP NAVBAR*/

.header-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(0, 0, 0) 0px,
    rgb(3, 22, 33) 64.2%,
    rgb(6, 39, 58) 100%
  );
}

.nav-bar {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ul-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.a-nav {
  color: #a0a0a0;
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.a-nav:after {
  content: "";
  position: absolute;
  background-color: #ce7c2e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a-nav:hover {
  color: #fff;
}

.a-nav:hover:after {
  width: 100%;
}

/**/
:root {
  --w: calc(55vw / 6);
  --h: calc(55vh / 4);
  --w2: calc(45vw / 6);
  --h2: calc(45vh / 4);
}

* {
  transition: all 0.5s;
}

body {
  padding: 0;
  margin: 0;
  -webkit-perspective: 1000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*font-family*/
}

#tablero {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.juego {
  height: auto;
  width: 100%;
}

.titulo-juego {
  font-size: 30px;
  margin: 10px 0 20px 0;
}

.estadisticas {
  border: 1px #fff solid;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 15px;
}

div {
  display: inline-block;
}

.tarjeta,
.cara {
  width: var(--w);
  min-width: 100px;
  height: var(--h);
  cursor: pointer;
  border-radius: 10px;
}

.tarjeta {
  position: relative;
  transform-style: preserve-3d;
  animation: iniciar 2s;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: inset 0 0 0 5px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trasera {
  background-color: azure;
  transform: rotateY(180deg);
}

.superior {
  background: linear-gradient(orange, darkorange);
}

img {
  width: 139px;
  min-width: 100px;
  height: 110px;
  border-radius: 10px;
}

.nuevo-juego {
  background: linear-gradient(orange, darkorange);
  padding: 15px;
  border-radius: 50px;
  border: white 5px solid;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.nuevo-juego:hover {
  border: orange 5px solid;
  color: darkorange;
  background: white;
}

@keyframes iniciar {
  20%,
  90% {
    transform: rotateY(180deg);
  }
  0%,
  100% {
    transform: rotateY(0deg);
  }
}

/*FOOTER*/
footer {
  background: linear-gradient(#06273a 0, #031621 37.8%, #000 100%);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
}

.contenido-footer {
  text-align: center;
}

.contenido-footer a {
  color: #a0a0a0;
  border-bottom: 3px solid #ce7c2e;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenido-footer h4 {
  color: #fff;
  padding: 10px 0 0 0;
}

@media (max-width: 650px) {
  .openMenu {
    display: block;
  }

  .showOnMobile {
    display: none;
  }

  .ul-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .contenedor-footer {
    display: flex;
    flex-direction: column;
  }

  .contenido-footer {
    margin: 10px 0;
  }
}

@media (min-width: 651px) {
  .openMenu {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 460px) {
  .content-wrapper {
    text-align: center;
  }

  .content-wrapper h1 {
    font-size: 1.7em;
  }
}

@media (max-width: 400px) {
  #tablero {
    grid-template-columns: repeat(2, 1fr);
  }

  .tarjeta, .cara {
    width: var(--w2);
    height: var(--h2);
  }

  img {
    width: 100px;
    height: 90px;
  }
}

@media (max-width: 314px) {
  .box {
    width: 250px;
  }
}