* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  --first-color: rgb(203, 42, 15);
  --second-color: rgb(195, 48, 43);
  --third-color: rgb(109, 139, 164);
  --fourth-color: rgb(157, 206, 203 );
  --fifth-color: rgb(220, 218, 166);

  --first-text-color: rgb(255, 255, 255);
  --second-text-color: rgb(182, 182, 182);
}


body {
  background-color: var(--first-color);
  font-family: Arial, sans-serif;
}

/*HEADER*/
.header-nav {
  width: 100%;
  height: auto;
  background: var(--first-color);
}

.nav-bar {
  padding: 20px 0 20px 0;
}

.ul-nav {
  width: 70vh;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.a-nav {
  color: var(--first-text-color);
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.a-nav:after {
  content: "";
  position: absolute;
  background-color: var(--second-color); 
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a-nav:hover {
  color: var(--first-text-color);
}

.a-nav:hover:after {
  width: 100%;
}

/*TEXTOS Y VIDEO INICIO*/
.header-cards {
  text-align: center;
  font-size: 25px;
  color: var(--first-text-color);
  text-shadow: 1px 1px 5px var(--second-text-color);
}

.seccion-video {
  width: 100%;
  height: 710px;
  position: relative;
  overflow: hidden;
}

.seccion-video h1 {
  padding-top: 200px;
  font-size: 2em;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  letter-spacing: 1px;
  animation: animate 1.5s ease;
}

.p-img {
  height: 25px;
  width: auto;
}

.content-wrapper {
  z-index: 30;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--first-text-color);
  gap: 20px;
  padding: 0 0 0 120px;
  font-size: 1.2em;
}

.video-wrapper {
  z-index: 10;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.video-tag {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*CARDS*/
.wrapper {
  padding: 10px 10%;
}

#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box {
  border-radius: 20px;
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  background-image: url(negroni.jpg);
  background-size: cover;
  background-position: 50%;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, var(--second-color) 95%);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 0% 0% 0% 3%;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: 500;
  margin-top: 80%;
  font-size: 3rem;
  color: var(--second-text-color);
}

.overlay a {
  color: var(--first-text-color);
  background: var(--first-color);
  margin-top: 10px;
  font-size: 0.85rem;
  border-radius: 8px;
  text-align: center;
  padding: 5px 15px;
}

.box:hover img {
  transform: scale(1.2);
}

.box:hover .overlay {
  height: 100%;
}

/*FOOTER*/
footer {
  background: var(--second-color);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--first-text-color);
}

.contenido-footer {
  text-align: center;
}

.contenido-footer a {
  color: var(--first-text-color);
  border-bottom: 3px solid var(--third-color);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenido-footer h4 {
  color: var(--first-text-color);
  padding: 10px 0 0 0;
}