html {
  --first-color: "white";
  --second-color: "white";
  --third-color: "white";
  --fourth-color: "white";
  --fifth-color: "white";
}

body {
  background-color: var(--main-background-color);
  width: 100vw;
  height: 100vh;
}

.test-section{
  display: flex;
}

.test-div{
  width: 100vw;
  height: 100vh;
}

.--first-color{
  background-color: var(--first-color);
}
.--second-color{
  background-color: var(--second-color);
}
.--third-color{
  background-color: var(--third-color);
}
.--fourth-color{
  background-color: var(--fourth-color);
}
.--fifth-color{
  background-color: var(--fifth-color);
}