:root{
  --primary-color: #007BFF; /* Blue color */
  --secondary-color: #0056b3; /* Darker blue color */
  --text-color: #333; /* Dark grey color for text */
  --background-color: #f0f0f0; /* Light grey background for contrast */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Light grey background for contrast */
  font-family: Arial, sans-serif;
}

/*Estilos de las cards*/
.card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333; /* Dark grey color for text */
}

.card-description {
  font-size: 1em;
  color: #777; /* Medium grey color for text */
  margin-bottom: 20px;
}

.card-button {
  background-color: #007BFF; /* Blue button */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}